body {
  background-color: #F3F0E7;
  margin: 1vw;
}

header {
  padding: 0.5vh;
  padding-left: 1vw;
}

nav {
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  width: 100%;
}

@font-face {
  font-family: mega;
  src: url(./eurostile_extended_black.ttf);
}

.logo {
  font-family: mega;
  background: -webkit-linear-gradient(rgb(119, 119, 119), rgb(19, 6, 6));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 1200;
  font-size: 2.5em;
  padding: 0;
  margin: 0;
}

.logo-orange {
  background: -webkit-linear-gradient(rgb(255, 169, 99), rgb(209, 94, 0));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

section {
  font-size: 2em;
}

li {
  font-size: 1.5em;
}

li a {
  font-size: 2em;
}
