.table-container {
  border-radius: 20px;
  width: fit-content;
  overflow: hidden;
}

table {
  background-color: rgb(216, 216, 216);
  width: 40vw;
  border-radius: 20px;
}

td, th {
  padding: 1.5vh;
}

td + td {
  text-align: center;
}

thead {
  background-color: black;
  color: white;
}

th {
  background: linear-gradient(rgb(65, 65, 65), black);
}

td {
  box-sizing: border-box;
  background-color: rgb(245, 245, 245);
}

thead, tbody {
  padding: 0;
  margin: 0;
}