.download {
  background-image: url(https://i.imgur.com/SFzecsS.jpeg);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 4vw;

}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.file-link {
  color: orange;
  font-weight: 700;
  text-decoration: underline;
}

.file-title {
  color: orange;
  font-weight: 700;
}

h2 a {
  font-size: medium;
  font-weight: 200;
}

h2 span {
  font-size: 18px;
  font-weight: 400;
}

td:first-of-type + td {
  font-weight: bold;
}

.page-body {
  padding: 7vh 6vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.download-container {
  width: 60%;
  height: 40%;
  border: 1px solid gray;
  border-radius: 20px;
  background-color: rgb(245, 245, 245);
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-links {
  min-height: 100% !important;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* CSS */
.button {
  background-image: linear-gradient(#eca242, #c98300);
  border: 1px solid #cc7400;
  border-radius: 20px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: -.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 30px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button:disabled {
  cursor: default;
  opacity: .3;
}

.button:hover {
  background-image: linear-gradient(#51A9EE, #147BCD);
  border-color: #1482D0;
  text-decoration: none;
}

.button:active {
  background-image: linear-gradient(#3D94D9, #0067B9);
  border-color: #006DBC;
  outline: none;
}

.button:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}

.free-download {
  background-image: linear-gradient(#808080, #070706);
  border: 1px solid #3d3d3d;
}

@media (max-width:1400px) { 
  .button {
    font-size: 1.5em;
  }  
}

@media (max-width:1000px) { 
  .button {
    font-size: 1em;
  }

  .download-links {
    width: 100%;
    height: 200px;
  }

  .download-container {
    width: 80vw;
  }

  .page-body {
    flex-direction: column;
    align-items: center;
  }

  .link {
    display: none;
  }

  .info-container h2 {
    font-size: large;
  }
}
