header {
  padding: 0.5vh;
  padding-left: 1vw;
  background-color: #F3F0E7;
}

nav {
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  width: 100%;
}

a{
  text-decoration: none;
  color: black;
}

.nav-item {
  background: linear-gradient(rgb(80, 80, 80), black);
  flex-grow: 1;
  text-align: center;
  vertical-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 1px;
  color: white;
  height: 4vh;
  line-height: 4vh;
}

@font-face {
  font-family: mega;
  src: url(../public/eurostile_extended_black.ttf);
}
.logo {
  font-family: mega;
  background: -webkit-linear-gradient(rgb(119, 119, 119), rgb(19, 6, 6));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 1200;
  font-size: 2.5em;
  padding: 0;
  margin: 0;
}

.logo-orange {
  background: -webkit-linear-gradient(rgb(255, 169, 99), rgb(209, 94, 0));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width:1000px) { 
  .logo {
    font-size: 1.5em;
    padding: 0;
  }

}