.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 220px;
  background-color: #f7f2f2;
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: relative;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: #f4fff1;
}

/* Add some padding inside the card container */
.container {
  padding: 0;
  margin: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  height: 95%;
}

.container h4 {
  text-overflow: ellipsis;
  overflow: hidden;
}

.container h4:hover {
  text-overflow: clip;
  overflow: visible;
}

@media (max-width:1000px) { 
  .card {
    width: 140px;
    height: 210px;
  }  
}

.image-container {
  height: 150%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container p {
  position: absolute;
  color: lightgray;
  font-size: 3em;
  opacity: 0.8;
}