* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F7F6F1;
}

.file-info {
  background-image: url(https://i.imgur.com/SFzecsS.jpeg);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-file-upload {
  border: 1px dashed black;
  display: flex;
  padding: 6px 12px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 10vh;
  text-align: center;
}

.custom-file-upload:hover, .file-hover {
  background-color: rgba(0,0,0,0.2);
}
.custom-file-upload input {
  display: none;
}

.card-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 3vh 5vw;
  gap: 2vw;
  background-color: #e4e1da;
  padding: 30px;
}

.hero {
  text-align: center;
  align-self: center;
}

.error-blob {
  background-color: red;
  width: 2em;
  height: 2em;
  border-radius: 6em;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Mega;
  font-size: 2em;
  border: 3px solid rgb(187, 2, 2);
  box-shadow: 2px 2px 10px rgba(0,0,0,0.8);
}

.page-body {
  padding: 7vh 6vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.download-container {
  width: 60%;
  height: 40%;
  border: 1px solid gray;
  border-radius: 20px;
  background-color: rgb(245, 245, 245);
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-links {
  min-height: 100% !important;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* CSS */
.button {
  background-image: linear-gradient(#eca242, #c98300);
  border: 1px solid #cc7400;
  border-radius: 20px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: -.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 30px;
  text-align: center;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button:disabled {
  cursor: default;
  opacity: .3;
}

.button:hover {
  background-image: linear-gradient(#51A9EE, #147BCD);
  border-color: #1482D0;
  text-decoration: none;
}

.button:active {
  background-image: linear-gradient(#3D94D9, #0067B9);
  border-color: #006DBC;
  outline: none;
}

.button:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}

.free-download {
  background-image: linear-gradient(#808080, #070706);
  border: 1px solid #3d3d3d;
}

@media (max-width:1400px) { 
  .button {
    font-size: 1.5em;
  }  
}

@media (max-width:1000px) { 
  .button {
    font-size: 1em;
  }

  .download-links {
    width: 100%;
    height: 200px;
  }

  .download-container {
    width: 80vw;
  }

  .page-body {
    flex-direction: column;
    align-items: center;
  }
}
